/* app shell CSS */
/*sets the root element color scheme and height*/
:root {
  --primary: #31a9e1;
  --gray: #ececec;
  --whitesmoke: #f5f5f5;
  --dark: #222;
  --monoaki: #272822;
  --navbar-height: 50px;
}

/*gives a margin of 0 for the body, and uses the root color monoaki. It imports a font as well*/
body {
  margin: 0;
  background-color: var(--monoaki);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
/*sets the h1 header to have a font size of 22pixels*/
h1 {
  font-size: 22px;
}

/*gives the nav-bar a height of 50pixels, and a color of primary, as defined by the root
The box has a one pixel shadow around it of rgba(0,0,0,0.1). It has a flex display
and is aligned to the center with content justified as space-between. The font color
is set to white, and font-size is 22 pixels. The font weight is 550, and the letter spacing
is 0.9 pixels;*/
#navbar {
  height: var(--navbar-height);
  background-color: var(--primary);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 22px;
  font-weight: 550;
  letter-spacing: 0.9px;
}

/*the icon image in the navbar is given a padding top of 10 pixels*/
.navbar-brand img {
  padding-top: 10px;
}

/*The load screen has a short .75 second duration during load, which rotates
it has a height and width of 30px. There is a border of 3pixels that is the
primary color defined in the root*/
.loading-spinner {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 3px solid var(--primary);
  border-right-color: transparent;
  border-radius: 50%;
}

/*This container displays the contents justified and aligned center, the height
of the container is 100 view height, minus the height of the navbar*/
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--navbar-height));
}

/*defines the start and end points of the animation, starting at 0 and rotating
360 degrees*/
@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*Sets the app update to not display*/
.app-update {
  display: none;
  position: absolute;
  right: 10px;
}

/*sets the update to show as a block display when active*/
.app-update.show {
  display: block;
}

/*sets the nav bar butons to margin 25px*/
.nav-btn {
  margin: 25px;
}

/*Sets the button to have text aligned to the center, and display inline
the padding is 0.5 rem left and right, 1.2 height, a margin of 0.
There are no text-decorations. Font size is set to 1rem, and border radius
to 0.3 rems. border is set to 1px solid and transparent, there is no outline.
The color is set to #1a1a1a, and the background-color is set to #aeaeae, there
is a transition color set to ease in and out at .2s*/
.btn {
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  color: #1a1a1a;
  background-color: #aeaeae;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
/*below are all of the button stylings, and different effects.*/
.btn:hover {
  background-color: #cecece;
  cursor: pointer;
}

.btn.btn-squared {
  border-radius: 0;
}

.btn.btn-sm {
  font-size: 0.85rem;
  padding: 0.3rem 0.9rem;
}

.btn.btn-lg {
  font-size: 1.25rem;
  padding: 0.8rem 1.4rem;
}

.btn.btn-block {
  width: 100%;
  display: block;
  text-align: center;
}

.btn.btn-primary {
  background-color: #2d3e50;
  color: #d9e9e8;
}

.btn.btn-primary:hover {
  background-color: #57779a;
}

.btn.btn-danger {
  background-color: #e64c66;
  color: #ffffff;
}

.btn.btn-danger:hover {
  background-color: #ee8294;
}

.btn.btn-info {
  background-color: #1bbc9b;
  color: #ffffff;
}

.btn.btn-info:hover {
  background-color: #31e1bd;
}

.btn.btn-light {
  background-color: #d9e9e8;
  color: #1a1a1a;
}

.btn.btn-light:hover {
  background-color: #84b8b4;
}

.btn.btn-dark {
  background-color: #1a1a1a;
  color: #d9e9e8;
}

.btn.btn-dark:hover {
  background-color: #5f5f5f;
}

.btn.btn-white {
  background-color: #ffffff;
  color: #1a1a1a;
}

.btn.btn-white:hover {
  background-color: #cccccc;
}

.btn.btn-black {
  background-color: #000000;
  color: #ffffff;
}

.btn.btn-black:hover {
  background-color: #666666;
}

.btn.btn-link {
  background-color: #1b89bc;
  color: #ffffff;
}

.btn.btn-link:hover {
  background-color: #31a9e1;
}

/*sets up use on media devices, it prevents the nav-button from displaying,
justifies content to the center, and gives a font size of 18px for h1*/
@media only screen and (max-width: 600px) {
  .nav-btn {
    display: none;
  }

  .navbar-brand {
    display: none;
  }

  #navbar {
    justify-content: center;
  }

  h1 {
    font-size: 18px;
  }
}
